input {
    width: 60%;
    height: 30px;
    top: 10px;
    background: transparent;
    padding: 20px 20px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: 2px solid #6a99e0;
}

button {
    min-height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #6a99e0;
    color: #fff;
    font-size: 2rem;
    border: none;
    outline: none;
    margin-left: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

button:hover {
    background-color: chartreuse;
}

ol{
    margin-top: 30px;
}

ol li {
    padding-left: 0px;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
    min-height: 40px;
    display: flex;
    align-items: center;
    color: #6a99e0;
    text-transform: capitalize;
}


